body {
  background-color: #1e1e1e;
  /* Cinza escuro mais claro para visibilidade da logo */
  color: #ffffff;
  font-family: "Arial", sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  text-align: center;
  flex-direction: column;
}

/* Logo no canto superior esquerdo */
.header {
  position: absolute;
  top: 20px;
  left: 20px;
  display: flex;
  align-items: center;
}

.logo {
  width: 200px;
  /* Ajuste conforme necessário */
  height: auto;
}

/* Estilização do título */
h1 {
  font-size: 3rem;
  font-weight: bold;
  margin-bottom: 20px;
  color: #00e6e6;
}

/* Container dos botões */
.button-container {
  display: flex;
  gap: 15px;
  justify-content: center;
  margin-top: 20px;
}

/* Estilização do botão */
.btn {
  background-color: #00e6e6;
  color: #121212;
  border: none;
  padding: 12px 24px;
  font-size: 1.2rem;
  font-weight: bold;
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.btn:hover {
  background-color: #00cccc;
  transform: scale(1.05);
}